.bg-index {
    background-image: url(../src/bg-index.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.bg-add {
    background-image: url(../src/bg-add.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.bg-view {
    background-image: url(../src/bg-view.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.bg-desayuno {
    background-image: url(../src/bg-desayuno.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.bg-comida {
    background-image: url(../src/bg-comida.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.bg-cena {
    background-image: url(../src/bg-cena.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.bg-contact {
    background-image: url(../src/bg-contact.jpg);
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
    font-family: Segoe UI;
}

.nav-obs {
    background-color: rgba(0, 0, 0, 0.11);
}

.hr {
    border: 0 solid #eeedef;
    border-top-width: 15px;
    margin: 40px auto;
    width: 100%;
}

.tittle-center {
    font-family: Edwardian Script ITC;
    font-size: 70px;
    font-weight: 600;
    color: honeydew;
}

.suggest {
    border-radius: 15px;
    background-color: rgba(145, 125, 82, 0.5);
    width: 50%;
}

.info {
    border-radius: 15px;
    background-color: rgba(123, 75, 66, 0.68);
}

.info-desayuno {
    border-radius: 15px;
    background-color: rgba(46, 43, 123, 0.68);
}

.info-comida {
    border-radius: 15px;
    background-color: rgba(50, 117, 47, 0.68);
}

.info-cena {
    border-radius: 15px;
    background-color: rgba(213, 203, 63, 0.68);
}

.info-contact {
    border-radius: 15px;
    background-color: rgba(97, 43, 164, 0.68);
}

.info-us {
    border-radius: 15px;
    background-color: rgba(46, 56, 123, 0.68);
}

.info-size {
    width: 70%;
}

.group {
    border-radius: 15px;
    background-color: rgba(230, 224, 39, 0.476);
}

.hide {
    display: none;
}

.footer {
    background-color: #eeedef;
}